@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/white-texture.png);
    font-family: 'Space Grotesk', sans-serif;
}

header {
    display: flex;
    background-color: #ffe0ee;
    padding: 15px 35px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #343434;
}

.logo {
    width: 100px;
}

nav {
    display: flex;
}

nav > ul {
    list-style: none;
    display: flex;
}

.icon-item {
    color: #343434;
    font-size: 24px;
    margin: 0 10px;
}

.icon-item:hover {
    color: #e77cac;
}

main {
    width: 100%;
}

.discography {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}

.cover-box {
    width: 30%;
    margin-right: 1%;
    text-align: center;
}

.cover {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.cover:hover {
    opacity: 0.8;
}



.two-column {
    display: flex;
    margin-top: 100px;
}

article {
    background-color: white;
    border: 1px solid #343434;
    border-right: 0;
    padding: 25px 120px 25px 75px;
    width: 70%;
}

.listen {
    width: 30%;
    border: 1px solid #343434;
    padding: 25px 120px 25px 35px;
    background-color: #fff2f8;
}

.listen ul {
    list-style: none;
}

.listen ul a {
    text-decoration: none;
    color: #343434;
}

.listen ul a:hover {
    color: #e77cac;
}

footer {
    padding: 25px 75px;
    background-color: #dfdfdf;
    text-align: center;
    font-size: 0.8em;
}